# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Other Own Project files
www/testAPP2_www.iml
www/.idea/

# Non-project-specific build files:
platforms/android/build.xml
platforms/android/local.properties
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/gradle
# Ant builds
platforms/android/ant-build
platforms/android/ant-gen
# Eclipse builds
platforms/android/gen
platforms/android/out
# Gradle builds
platforms/android/build

platforms/android/assets/www/testAPP2_www.iml

platforms/android/cordova/
platforms/android/
